body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  background: #0f0f0f;
  color: #fff;
}

#app {
  padding: 20px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  background: #2a2a2a;
  color: white;
  font-size: 16px;
}
